.attendance-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .attendance-card:hover {
    transform: scale(1.05);
  }
  
  .absent-day {
    background-color: red;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .absent-day:hover {
    background-color: darkred;
  }
  